.warn-modal {
    min-width: 360px;
    min-height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.warn-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 15px 15px 0 0;
}
.warn-modal-header_title {
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 5px 0 5px;
}
.warn-modal-content {
    padding: 20px;
    height: 100%;
}

.warn-modal-buttons {
    padding: 10px;
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: end;
    border-radius: 0 0 15px 15px;
}