.edit-form {
    display: flex;
    gap: 5px;
}
.edit-form_labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.edit-form_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.edit-form_item {
    height: 40px;
    display: flex;
    align-items: center;
}